<p-toast></p-toast>

<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>{{ editando ? 'Edicao de' : 'Novo' }} Exercício</h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Nome</label>
              <input pInputText type="text" name="nome"
                [(ngModel)]="exercicio.nome"
                #nome="ngModel" required minlength="3">

                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 3 caractares</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Repetições</label>
              <input pInputText type="text" name="repeticoes"
                [(ngModel)]="exercicio.repeticoes"
                #nome="ngModel" required>

                <div *ngIf="repeticoes.hasError('required') && repeticoes.touched">Informe o sexo</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Carga</label>
              <input pInputText type="text" name="carga"
                [(ngModel)]="exercicio.carga"
                #nome="ngModel" required>

                <div *ngIf="carga.hasError('required') && carga.touched">Informe a idade</div>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
                <a routerLink="/exercicios">Voltar para a pesquisa</a>
            </div>
        </div>
    </form>
</div>
